<div class="container">

  <div class="row">
    <div class="col-sm-3">
        <%= image_tag @restaurant.photo_url, size: '250x300', class: 'poster img-responsive center-block' %>
        <% unless session["user_id"].blank? %>
          <% cur_user = User.find_by(id: session["user_id"]) %>
          <% if cur_user.is_admin == true %>
            <br>
            <%= link_to "View Reservations", "/restaurants/#{@restaurant.id}/show_reservations", class: "btn btn-lg btn-success center-block" %>
          <% end %>
        <% end %>

    </div>
    <div class="col-sm-8 well">
      <div class="page-title">
        <h1>
            <%= @restaurant.name %>
            <small>(<%= @restaurant.cuisines %>)</small>
            <small class="pull-right mpaa"><%= @restaurant.dining_style %></small>
        </h1>

        <p class="lead">
          <%= @restaurant.price_range %>
        </p>

        <p><strong>Phone number:</strong>
          <%= @restaurant.phone_number %>
        </p>

        <p><strong>Website:</strong>
          <%= @restaurant.website %>
        </p>

        <p><strong>Address:</strong>
          <%= @restaurant.address %>
        </p>

        <% unless !(session["user_id"].blank?) and (User.find_by(id: session["user_id"]).is_admin == true) %>
          <!-- reservation form  -->
          <%= form_tag "/reservations" do %>
            <p>
              <%= date_field_tag "date", (Date.today+1).to_s %>
            </p>

            <% times = []%>
            <% hours = 11..22 %>
            <% hours.each do |hour|%>
              <% times.push("#{hour}:00") %>
            <% end %>
            <p>
              <%= select_tag "time", options_for_select(times)%>
            </p>

            <% tables = 1..@restaurant.number_of_tables %>
            <p>
              <%= select_tag "tables", options_for_select(tables)%>
            </p>

            <%= hidden_field_tag "restaurant_id", @restaurant.id %>

            <p>
              <%= submit_tag "Make A Reservation", class: "btn btn-lg btn-primary" %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- restaurant description -->
  <div class="row">
    <div class="col-sm-3">
    </div>

    <div class="col-sm-8 well">
      <h3>About <%= @restaurant.name %></h3>
      <hr>
      <p> <%= @restaurant.description %> </p>
    </div>

  </div>

  <!-- reviews -->
  <div class="row">
    <div class="col-sm-3">
    </div>

    <div class="col-sm-8 well">
      <h3>Reviews</h3>
      <hr>

      <% @reservations.each do |reservation| %>
        <p class="text-muted">
          <%= reservation.user.username %> | <%= reservation.date %> <%= reservation.time %>
        </p>
        <p>
          <%= reservation.review %>
        </p>
        <hr>
      <% end %>
    </div>
  </div>
</div>
